registry=https://registry.npmjs.org
@buuhvprojects:registry=https://npm.pkg.github.com
_authToken=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
//npm.pkg.github.com/:_authToken=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