registry=https://registry.npmjs.org
@buuhvprojects:registry=https://npm.pkg.github.com
_authToken=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
//npm.pkg.github.com/:_authToken=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